:root {
    --primary-color: #F5CF06;
    --secubdary-color: #8E4106;
}

body {
    height: 100vh;
    background-color: var(--primary-color);
    padding: 70px;
    font-family: Righteous, sans-serif;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    align-items: center;
    gap: 16px;

}

header span {
    font-size: 32px;
    color: var(--secubdary-color);
}

main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.sombra {
    position: absolute;
    font-size: 26vw;
    color: #ffffff55;
    z-index: -999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -80%);

}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    font-size: 20vw;
    color: white;
}

.conteiner {
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 200px;
}

.descricao h2 {
    font-size: 64px;
    color: var(--secubdary-color);
}

.descricao p {
    font-size: 20px;
    color: var(--secubdary-color);
    width: 400px;
}

.conteiner a {
    width: 400px;
    height: 100px;
    background-color: var(--secubdary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
    color: white;
}

.pikachu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 959;

}

footer {
    text-align: center;
    color: var(--secubdary-color);
}


/* tablete */
@media (max-width:768px) {
    body {
        padding: 30px;
    }

    .sombra {
        transform: translate(-50%, -180%);
    }

    h1 {
        align-items: start;
        transform: translateY(40%);
        flex-grow: 0;
    }

    .conteiner {
        flex-direction: column;
        align-items: center;
        height: auto;
        padding: 0;

    }

    .descricao p {
        text-align: center;
    }

    footer {
        display: none;
    }

    main {
        justify-content: space-between;
    }
}

@media (max-width: 480px) {
    .descricao h2 {
        font-size: 38px;
    }
    .descricao p {
        display: none;
    }
    .pikachu {
        height: 50vh;
    }
    .conteiner a {
        width: 100%;
    }

    .sombra {
        transform: translate(-50%, -230%);
    }
}